@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

:root{
    --bg-color: #0c0c0c;
    --primary:#FFF;
    --card-w: 328px;
    --card-h: 403px;
    --big-size:96px;
    --medium-size:48px;
    --small-size:32px;
    --section-heigth:554px;
}

body{
    background-color: var(--bg-color, #0c0c0c);
    color: var(--primary);
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: var(--big-size);
}

h2{
    font-size: var(--medium-size);
}

h3{
    font-size: var(--small-size);
    text-align: center;
}

audio{
    visibility: hidden;
}

.container{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.radio__container, 
.info__container{
    width: 100%;
    min-height: var(--section-heigth);
} 

.social__container{
    min-height: 200px;
    background-color: #141313;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;

}

.social__links{
    display: flex;
    margin: 40px auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.radio__container{
    background: url('../imagenes/hero-bg.webp'), #141313 80% / cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.info__container{
    background: url('../imagenes/information-bg.jpg'), #141313 50% / cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content:space-around;
}

.card{
    width: var(--card-w);
    height: var(--card-h);
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.25);
   
}

.firts, 
.second, 
.third{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-blend-mode:darken;
}

.firts{
    background: url('../imagenes/radio-online.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}  

.img__button{
    transition: transform ease-in-out .5s;
}

.img__button:hover{
    transform: scale(110%);
    cursor: pointer;
}   

.copyright{
    text-align: center;
}

.download__app{
    text-decoration: none;
    color: var(--primary);
}

.active {
    animation: anim_player .5s infinite ease-in-out;
}

@keyframes anim_player {
    0%,99% {
        transform: scale(100%);
    }
    33% {
        transform: scale(105%);
    }
    66% {
        transform: scale(95%);
    }
}

.second{
    background: url('../imagenes/download-app.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.third{
    background: url('../imagenes/contacto.jpg'), lightgray -49.054px -1.638px / 170.858% 101.895% no-repeat;
    margin-bottom: 50px;
    perspective: 2000px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s linear;
   
}

.third:hover{
    transform: rotateY(180deg);
}

.contact__text{
    backface-visibility: hidden;
    width: var(--card-w);
    height: var(--card-h);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.rotate{
    transform: rotateY(180deg);
}

.card__text{
    text-align: center;
    font-size: var(--medium-size);
    font-weight: 700;
    text-shadow: 1px 1px 15px rgba(16, 16, 16, 1);
}

.card__text__show{
    font-size: 24px;
    font-weight: 700;
    text-shadow: 1px 1px 15px rgba(16, 16, 16, 1);
}

@media screen and (max-width:1000px) {
    :root{
        --big-size:48px;
        --medium-size:24px;
        --small-size:18px;
        --card-w:250px;
        --card-h:303px;
    }

    .info__container{
        flex-direction: column;
        align-items: center;
        background-color: #141313;
        background-image: url('../imagenes/information-bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: unset;
    }

    .card__text__show{
        font-size: 18px;
    }
}